In [6]:
import koreanize_matplotlib

ModuleNotFoundError: No module named 'distutils'

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("/Users/angwang-yun/Desktop/Project/coor/초등학교_도로명.csv", encoding='cp949')

In [36]:
df.shape

(2196, 28)

In [37]:
df.head()

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,전체주소,도로명상세주소,전화번호,...,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,주야과정,계열명,학과명,적재일시
0,각종학교(중),사립,7134155,선화예술중학교,Sunhwa Arts Middle School,서울특별시성동광진교육지원청,4991,서울특별시 광진구 천호대로 664,/ 선화예술중고등학교 (능동),02-2204-1100,...,주간,19731201,19730705,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230627
1,초등학교,공립,7134150,서울숭신초등학교,Seoul Soongshin Elementary School,서울특별시성동광진교육지원청,4702,서울특별시 성동구 마장로 161,(하왕십리동),02-2252-5950,...,주간,19590403,19590403,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230615
2,중학교,공립,7134142,행당중학교,Haengdang Middle School,서울특별시성동광진교육지원청,4764,서울특별시 성동구 왕십리로 189,(행당동/행당중학교),02-2292-2721,...,주간,19680806,19681002,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230615
3,중학교,사립,7134141,한양대학교사범대학부속중학교,Hanyang University Middle School,서울특별시성동광진교육지원청,4761,서울특별시 성동구 마조로 42,(사근동/한양사대부속중?고등학교),02-2200-3700,...,주간,19600118,19600118,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230615
4,중학교,공립,7134140,자양중학교,Jayang Middle School,서울특별시성동광진교육지원청,5069,서울특별시 광진구 뚝섬로41길 33,(자양동/서울자양중학교),02-446-0365,...,주간,19840301,19840301,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230615

In [38]:
for i in list(df['학교종류명']):
    if "초등" in i:
        print(i)

초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교
초등학교

In [39]:
df['개교기념일']

0       19730705
1       19590403
2       19681002
3       19600118
4       19840301
          ...
3919    19600513
3920    19600513
3921    19910301
3922    19720909
3923    19720909
Name: 개교기념일, Length: 2196, dtype: int64

In [40]:
df.columns

Index(['학교종류명', '설립구분', '표준학교코드', '학교명', '영문학교명', '관할조직명', '도로명우편번호', '전체주소',
       '도로명상세주소', '전화번호', '홈페이지주소', '팩스번호', '남녀공학구분명', '고등학교구분명',
       '산업체특별학급존재여부', '고등학교일반실업구분명', '특수목적고등학교계열명', '입시전후기구분명', '주야구분명',
       '설립일자', '개교기념일', '시도교육청코드', '시도교육청명', '소재지명', '주야과정', '계열명', '학과명',
       '적재일시'],
      dtype='object')

In [41]:
df['고등학교일반실업구분명'].value_counts()

고등학교일반실업구분명
일반계    2196
Name: count, dtype: int64

In [42]:
df["특수목적고등학교계열명"].value_counts()

특수목적고등학교계열명
외국어계열    54
예술계열     43
과학계열      8
국제계열      1
체육계열      1
Name: count, dtype: int64

In [19]:
df= df[df['고등학교일반실업구분명'] == "일반계"]

In [22]:
df.rename(columns={'도로명주소': '전체주소'}, inplace=True)

In [44]:
redf = df[['학교명', '전체주소' , '학교종류명', "고등학교일반실업구분명"]]

In [46]:
redf.reset_index(drop=True, inplace=True)

In [48]:
redf.shape

(2196, 4)

In [49]:
redf

                 학교명                  전체주소    학교종류명 고등학교일반실업구분명
0            선화예술중학교    서울특별시 광진구 천호대로 664  각종학교(중)         일반계
1           서울숭신초등학교     서울특별시 성동구 마장로 161     초등학교         일반계
2              행당중학교    서울특별시 성동구 왕십리로 189      중학교         일반계
3     한양대학교사범대학부속중학교      서울특별시 성동구 마조로 42      중학교         일반계
4              자양중학교   서울특별시 광진구 뚝섬로41길 33      중학교         일반계
...              ...                   ...      ...         ...
2191      국립전통예술고등학교  서울특별시 금천구 시흥대로38길 62     고등학교         일반계
2192      국립전통예술고등학교  서울특별시 금천구 시흥대로38길 62     고등학교         일반계
2193         국립국악중학교   서울특별시 강남구 개포로22길 65  각종학교(중)         일반계
2194        국립국악고등학교   서울특별시 강남구 개포로22길 65     고등학교         일반계
2195        국립국악고등학교   서울특별시 강남구 개포로22길 65     고등학교         일반계

[2196 rows x 4 columns]

In [50]:
redf = redf[redf['학교종류명'] == "초등학교"]

In [51]:
redf

           학교명                   전체주소 학교종류명 고등학교일반실업구분명
1     서울숭신초등학교      서울특별시 성동구 마장로 161  초등학교         일반계
22      한양초등학교     서울특별시 성동구 살곶이길 208  초등학교         일반계
23      세종초등학교      서울특별시 광진구 군자로 114  초등학교         일반계
24      성동초등학교     서울특별시 광진구 자양로4길 63  초등학교         일반계
25    서울행당초등학교     서울특별시 성동구 고산자로8길 6  초등학교         일반계
..         ...                    ...   ...         ...
899   서울동답초등학교  서울특별시 동대문구 답십리로60길 12  초등학교         일반계
900  서울답십리초등학교    서울특별시 동대문구 전농로3길 23  초등학교         일반계
901   서울군자초등학교    서울특별시 동대문구 한천로6길 21  초등학교         일반계
902     금성초등학교    서울특별시 중랑구 신내로21길 55  초등학교         일반계
903     경희초등학교     서울특별시 동대문구 경희대로 26  초등학교         일반계

[544 rows x 4 columns]

In [52]:
redf.to_csv("/Users/angwang-yun/Desktop/Project/coor/초등학교_도로명_전체주소.csv",  index=False)